.box4navbarHome2 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    height: 38px;
    background: #fffdf7;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0px 10px;
    margin-left: 10px;
}
.icon_accounts {
  display: inline-flex;
  font-size: 30px;
  margin-top: 5px;
}
.avatar {
  width: 98%;
  color: #3333;
}
.navbardb2  {
  /* background: transparent; */
  box-shadow: none;
  z-index: unset;
  position: unset;
  box-shadow: none;
}
